/* Main elements */
html {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.863);
    height: 100%;
}

body {
    margin: 0 0;
    height: 100%;
}

#content {
    height: 100vh;
    padding-bottom: 200px;
    background-image: url("../ramen-background.jpg");
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
}



/* Header styles */

.header {
    background-color: rgba(0, 0, 0, 0.63);
    height: 200px;
    text-align: center;
    color: white;
    height: 150px;
}

.header > h1 {
    margin: 0;
    padding-top: 20px;
    font: 50px 'Allison', cursive;
}

nav {
    background: none;
    display:flex;
    justify-content: flex-end;
}

.nav-button {
    margin: 10px;
    width: 100px;
    height: 40px;
    /* background-color: rgba(0, 0, 0, 0.63); */
    background-color: inherit;
    color: white;
    border: none;
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.836);
}

.nav-button:active {
    border: 3px solid black;
}

.nav-button.active {
    border-bottom: 2px solid white;
}


/* Body style */

#body {
    height: 100%;
    /* background-color: rgb(65, 65, 73); */
    background: none;
    display: flex;
    justify-content: center;
    /* margin-bottom: 120px; */
}


/* Footer styles */

footer {
    background-color: rgba(0, 0, 0, 0.63);
    color:white;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    z-index: 1;
}




/* Home page */
#home {
    background-color: rgba(255, 255, 255, 0.836);
    text-align: center;
    width: 65%;
    margin: 60px 0px;
    height: 500px;
    border-radius: 8px;
}

.subheader {
    font: 25px 'Roboto Mono', monospace;
    margin-top: 10px;
}

.home-para {
    font: 15px 'Roboto Mono', monospace;
}




/* Menu page */

#menu {
    background: none;
    margin-bottom: 50px;
    height: 90%;
    width: 60%;
    display: flex;
    justify-items: center;
    align-items: center; 
    flex-direction: column;
    overflow-y: scroll;
    z-index: 0;
}


#menu-header-div {
    margin: 30px 0;
    background-color: rgba(255, 255, 255, 0.836);
    border-radius: 8px;
    width: 93%;
    display: flex;
    justify-content: center;
}

#menu-header-div > .subheader {
    margin: 20px 20px;
    align-self:center;
}

#menu-item {
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    margin: 20px 0;
    border-radius: 8px;
    width: 90%;
    padding: 10px;
    justify-self: center;
    
}




/* Contact page */

#contact-div {
    background-color: rgba(255, 255, 255, 0.836);
    border-radius: 8px;
    width: 75%;
    height:max-content;
    margin: 50px 0;
}

#contact-div > .subheader {
    margin-left: 50px;
    margin-top: 50px;
}

#contact-div > p {
    margin-left: 50px;
}

#map {
    height: 200px;
    width: 200px;
}